#menu .boxes {
  width: 25%;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
#menu .boxes:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 5px 8px 14px grey;
}
#menu .boxes .photo {
  position: relative;
}
#menu .boxes .photo::before {
  content: "Dessert";
  top: 90%;
  left: 35%;
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px 15px;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#menu .boxes .photo img {
  width: 100%;
}
#menu .boxes .phototext {
  margin: auto;
  width: 80%;
}
#menu .boxes .phototext a {
  text-decoration: none;
}
#menu .boxes .phototext h3 {
  font-size: 20px;
  color: rgb(110, 107, 107);
  font-weight: 500;
  margin-top: 35px;
}
#menu .boxes .phototext p {
  color: grey;
  font-size: 15px;
  font-weight: 500;
}

#week .boxes1 {
  margin-right: 5%;
}
#week .boxes1 .clock h1 {
  font-size: 20px;
  color: #606060;
  font-weight: 500;
}
#week .boxes1 .clock h2 {
  font-size: 15px;
  color: grey;
  font-weight: 500;
}
#week .boxes1 .clock h3 {
  color: grey;
  font-size: 20px;
  font-weight: 500;
}
#week .boxes1 .clock h4 {
  color: #606060;
  font-size: 15px;
  font-weight: 500;
}
#week .boxes2 p {
  color: grey;
  font-size: 15px;
  font-style: italic;
  margin-top: 20px;
}
#week .boxes2 h1 {
  font-size: 40px;
  font-weight: 600;
  color: #606060;
}
#week .boxes2 a {
  text-decoration: none;
  color: aqua;
  border: 1px solid aqua;
  padding: 5px 10px;
  margin-top: 20px;
  display: inline-block;
  padding-left: 20px;
  position: relative;
}
#week .boxes2 a:hover::before {
  height: 100%;
  transition: 0.5s ease-in-out;
}
#week .boxes2 a::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  position: absolute;
  background-color: aqua;
  transition: 0.5s ease-in-out;
}

#burgers {
  background-image: url(http://templates.framework-y.com/gourmet/images/bg-17.jpg);
  background-position: center center;
  background-size: 125%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}
#burgers .top {
  padding-top: 100px;
}
#burgers .top .left {
  width: 33.33%;
}
#burgers .top .left img {
  width: 80%;
}
#burgers .top .middle {
  width: 33.33%;
}
#burgers .top .middle .top {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
  color: #8F8F8F;
  font-size: 1rem;
}
#burgers .top .middle h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  color: #484848;
}
#burgers .top .middle .bottom {
  padding: 20px 0;
}
#burgers .top .middle .bottom .text {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #484848;
  font-weight: 700;
  position: relative;
}
#burgers .top .middle .bottom .text::after {
  content: "75%";
  position: absolute;
  color: #484848;
  width: 40px;
  height: 40px;
  right: 30%;
  padding: 0;
  margin: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}
#burgers .top .middle .bottom .line {
  width: 400px;
  height: 5px;
  background-color: #E8E8E8;
  margin: 10px 0 20px 0;
  position: relative;
}
#burgers .top .middle .bottom .line::before {
  content: "";
  position: absolute;
  background-color: #484848;
  width: 70%;
  height: 5px;
  top: 0;
  left: 0;
}
#burgers .top .right {
  width: 33.33%;
}
#burgers .top .right p {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  color: #838383;
  line-height: 25px;
  font-size: 0.9rem;
  width: 86%;
}
#burgers .top .right h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #484848;
}

#themenu {
  background-image: url(https://templates.framework-y.com/gourmet/images/bg-19.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 10%;
}
#themenu .head {
  text-align: center;
}
#themenu .head p {
  color: rgba(72, 72, 72, 0.3529411765);
  font-style: italic;
  font-weight: bold;
  font-family: apple;
}
#themenu .head h1 {
  color: rgba(72, 72, 72, 0.9764705882);
}
#themenu .onewood {
  padding-top: 30px;
  justify-content: space-around;
}
#themenu .onewood .wod {
  width: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#themenu .onewood .wod p {
  width: 300px;
  color: rgba(72, 72, 72, 0.3529411765);
  font-size: 15px;
}
#themenu .onewood .wod h3 {
  font-size: 15px;
  color: rgba(72, 72, 72, 0.6745098039);
}

#profil {
  background-color: #F7F7F7;
  height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#profil .phot .xob1 {
  background-color: #fff;
  font-size: 15px;
  padding: 30px;
  color: rgba(72, 72, 72, 0.6823529412);
}
#profil .phot .imgtxt {
  display: flex;
  align-items: center;
}
#profil .phot .imgtxt img {
  width: 100px;
  border-radius: 50%;
  padding: 10px;
}

#allpot {
  width: 100%;
  display: flex;
}
#allpot img {
  width: 17%;
}

footer {
  margin-top: 30px;
}
footer p {
  color: #C7B5B3;
}
footer .fotbox {
  text-align: center;
}
footer .fotbox p {
  padding: 20px;
  font-size: 15px;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer ul li .one {
  color: #B3B3B3;
  display: inline-block;
  padding: 25px 20px;
  transition: 0.4s;
}
footer ul li .one:hover {
  color: #fff;
  background-color: #3B5998;
}
footer ul li .two {
  color: #B3B3B3;
  display: inline-block;
  padding: 25px 20px;
  transition: 0.4s;
}
footer ul li .two:hover {
  color: #fff;
  background-color: #3B8ACA;
}
footer ul li .three {
  color: #B3B3B3;
  display: inline-block;
  padding: 25px 20px;
  transition: 0.4s;
}
footer ul li .three:hover {
  color: #fff;
  background-color: #464646;
}
footer ul li .four {
  color: #B3B3B3;
  display: inline-block;
  padding: 25px 20px;
  transition: 0.4s;
}
footer ul li .four:hover {
  color: #fff;
  background-color: #CC181E;
}
footer .fin {
  text-align: center;
  color: #C7B5B3;
}/*# sourceMappingURL=style.css.map */